# Use the User dataset perform Random Forest and compare with Decision Tree

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("C:\\Users\\etep\\Desktop\\User_Data.csv")

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
Gender = {'Male':1,'Female':2}
df.Gender = [Gender[item] for item in df.Gender]
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       2   26            43000          0
3  15603246       2   27            57000          0
4  15804002       1   19            76000          0

In [5]:
y = df['Purchased']
x = df.drop(columns='Purchased')

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=33)

In [7]:
x_train

      User ID  Gender  Age  EstimatedSalary
335  15601550       2   36            54000
359  15709183       1   42            54000
288  15649668       1   41            79000
35   15713144       1   35            27000
278  15613014       2   52            38000
..        ...     ...  ...              ...
146  15750839       2   27            96000
66   15679760       1   24            19000
216  15636023       1   49            65000
391  15592570       1   47            23000
20   15649487       1   45            22000

[320 rows x 4 columns]

### Decision Tree Classifier Model

In [8]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion='entropy')
classifier.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [9]:
y_DT = classifier.predict(x_test)
print(y_DT)

[1 0 1 0 0 0 1 0 1 0 0 0 0 1 0 1 1 1 1 0 1 0 0 1 0 0 0 0 0 1 1 1 1 1 1 1 1
 1 0 0 0 1 1 1 1 0 1 0 0 1 0 0 1 0 1 1 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1
 0 0 1 0 0 1]

In [11]:
from sklearn import metrics
scores = metrics.accuracy_score(y_test,y_DT)
print(scores*100)

87.5

### Random Forest Classifier

In [12]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)
clf.fit(x_train,y_train)

RandomForestClassifier()

In [13]:
y_RF = clf.predict(x_test)
print(y_RF)

[1 0 1 0 0 0 1 0 1 0 0 1 0 1 0 1 1 1 1 0 1 0 0 1 0 0 0 1 0 1 1 1 1 1 1 0 1
 1 0 0 0 1 1 1 1 0 1 0 0 0 0 0 1 0 1 1 0 1 1 0 0 0 0 1 1 0 0 0 0 1 0 0 0 1
 0 0 1 0 0 1]

In [14]:
acc = metrics.accuracy_score(y_test,y_RF)
acc

0.95

Thereby, We can conclude that enesemble methods has an better accuracy !!